body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: clamp(3rem, 5vw, 6rem);
}

.bigContainer {
    display: flex;
    flex: auto;
    gap: 0px;
    justify-content: space-around;
    margin: 50px;
    min-width: 490px;
    max-width: 1050px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    width: 55%;
    height: 55%;
}

.colContainer {
    display: flex;
    flex: auto;
    flex-direction: column;
    gap: 0px;
}

.square {
    display: flex;
    padding: 0;

    aspect-ratio: 1;
    border-width: 2px;
    border-style: solid;
    border-color: black;

    vertical-align: middle;
    justify-content: center;
    font-size: clamp(3.1rem, 6.2vw, 7.8rem);
}
