body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow:visible;
}

button {
    flex-grow: 0;
    max-width: 200px;
    margin: 20px;
}

.bigContainer {
    display: flex;
    flex: auto;
    border: 10px;
    flex-direction: column;
    width: 750px;
    max-width: 1000px;
    aspect-ratio: 1 / 1;
    border-style: solid;
    box-sizing: border-box;
    margin: 20px;
}

.square {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    /* transition-delay: 1s; */
}

/* .square:hover {
    background-color: red;
    transition-delay: 0s;
} */

.rows {
    display: flex;
    flex-grow: 1;
}