body {
    display: flex;
    align-items: space-around;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: visible;
    font-size: clamp(2rem, 2.5vw, 4rem);
}

/* button {
    flex-grow: 0;
    max-width: 200px;
    margin: 20px;
} */

.bigContainer {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    border: 0px;
    flex-direction: column;
    border-style: solid;
    box-sizing: border-box;
    margin: 20px;
    align-items: center;
    max-width: 1050px;
}

.square {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    /* box-sizing: border-box; */
    max-height: 150px;
    max-width: 150px;
    min-width: 50px;
    min-height: 50px;
    align-items: center;
    justify-content: center;
    border-style: solid !important;
    border-color: black;
    border: 3px;
    /* transition-delay: 1s; */
} 

/* .square:hover {
    background-color: red;
    transition-delay: 0s;
} */

.rowContainer {
    display: flex;
    flex-grow: 1;
    align-self: stretch;
    max-height: 150px;
    max-width: 1050px;
    aspect-ratio: 7/1;
}